/* styles.css */

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #3a3f58;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.content section {
    margin-bottom: 50px;
}

.home{
    background-color: beige;
}

#about{
    background-color: beige;
    padding-left: 20;
    padding-top: 20;
    height:350px;
    width:1070px;
    align-items: center;
    border-radius: 10px;
}
.about-header{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: auto;
}
.about-content {
    display: flex;
    align-items: center;
}

.about-content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.about-text ul {
    list-style: none;
    padding: 0;
}

.about-text ul li {
    margin: 10px 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:nth-child(1) {
    background-color: #f44336;
    color: white;
}

button:nth-child(2) {
    background-color: #3f51b5;
    color: white;
}

.skill {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.skill-name {
    width: 150px;
}

.skill-bar {
    background-color: #e0e0e0;
    flex: 1;
    margin: 0 10px;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.skill-percentage {
    background-color: #f44336;
    height: 100%;
}

.skill-value {
    width: 50px;
    text-align: right;
}
